*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

.product
{
    position: relative;
    text-align: center;
}
.sale
{
    position: absolute;
    right: 20;
    top: 0;
    background-color: red;
    color: white;
    width: 40px;
    height: 50px;
    padding: 5px;
}

.priceBadge
{
    position: absolute;
    left: 20;
    top: 10;
}

.controlProduct
{
    position: relative;
    overflow: hidden;
}

.controlLayer
{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition:  all 0.5s ease-in;
}

.controlProduct:hover .controlLayer
{
    left: 0;
}